* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f9;
  padding: 0;
  margin: 0;
}

.background {
  background-color: white;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-bottom-left-radius: 8rem;
}

.work-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bg-blue-200 {
  background-color: #ebebff;
}

.btn-primary {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #6070ff;
}

.btn-primary:hover {
  background-color: white;
  color: #6070ff;
  border: 1px solid #6070ff;
}

.my-single-works {
  display: flex;
}
.my-single-works:nth-child(2n) {
  flex-direction: row-reverse;
}

.cards {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
