* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f9;
  padding: 0;
  margin: 0;
}

.background {
  background-color: white;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-bottom-left-radius: 8rem;
}
